/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
:root {
    --purple: #540B51;
    --blue: #4285F4;
    --ivory: #F3EAE2;
    --black: #191817;
    --yellow: #ECB12F;
    --grey: #454245;
    --links-blue: #2E71A6;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--purple);
    padding: 2em;
}
ul {
    list-style: none;
    padding-left: 0;
}

header {
    padding-top: 2.5em;
    background-color: var(--purple);
}
h1 {
    font-size: 4.5rem;
}
h3 {
    font-size: 3.5rem;
}
a {
    text-decoration: none;
}
.slack-logo img {
    max-height: 2.5rem;
}
.menu-buttons button{
    background: none;
    border: none;
    padding: 0 15px;
}
.landing {
    padding: 0 2rem 1rem;
    color: white;
}
.landing p {
    font-size: 2em;
}
.landing span:first-child {
    color: var(--yellow);
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12rem;
}
button {
    padding: 1.7rem;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.signup-email {
    background-color: white;
    color: var(--purple);
}
.signup-google {
    padding: 14px;
    display: flex;
    align-items: center;
    background-color: #4285F4;
    color: white;
}
.signup-google img {
    max-height: 2em;
    background-color: white;
}
.signup-google span {
    margin: 0 auto;
}
.product {
    overflow: hidden;
}
.companies {
    text-align: center;
    font-size: 1.8em;
    text-transform: uppercase;
    padding: 2em 1em;
    background-color: #F3EAE2;
}
.logos {
    display: flex;
    flex-wrap: wrap;
    height: 9em;
    align-items: center;
    justify-content: space-around;
}
.logos img{
    max-width: auto;
    max-height: 4rem;
}
.general {
    background-color: var(--ivory);
}
.general-text {
    font-size: 2.1rem;
    padding: 1em;
}
.flexibility {
    display: flex;
    flex-direction: column;
}
.block2 {
    order: -1;
    display: flex;
    justify-content: flex-end;
}

.tools, .flexibility{
    padding: 2.2em 0;
}
.welcome .buttons {
    margin-bottom: 4rem;
}
.purple-button{
    background-color: var(--purple);
    border-color: white;
    color: white;
}
.white-button {
    background-color: white;;
    border-color: var(--purple);
    color: var(--purple);
}
.teams {
    text-align: center;
}
.metrics {
    padding: 2rem 12rem;
    font-size: 1.7rem;
    font-weight: 700;
}
.metrics span {
    color: var(--purple);
    font-size: 5rem;
}
.metrics li {
    margin: 4rem 0;
}
footer {
    padding: 3rem 2rem;
    font-size: 1.4rem;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    gap: 2.6rem;
    line-height: 2.2;
    margin: 2rem 0;
}

.nav-links li:first-of-type {
    font-weight: 600;
}
.status {
    margin: 3rem 0;
    line-height: 3;
    font-weight: 600;
}
.socials{
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    margin: 3rem 0;
}
#download {
    color: var(--links-blue);
}
@media (max-width: 768px){
    body {
        max-width: 48rem;
    }
    nav {

    }
    h1 {
        margin-top: 0;
    }
    .menu {
        display: none;
    }
    img {
        max-width: 48em;
    }
    .landing {
        text-align: center;
    }
    .product img{
        width: 60rem;
        margin: auto -130px -80px -30px;
    }
    .welcome {
        text-align: center;
        background-color: var(--purple);
        padding: 1rem 2rem;
        color: white;
    }

}

@media (min-width: 769px) and (max-width: 1024px){
    body {
        max-width: 1024px;
    }
    header {
        display: flex;
        padding-top: 0;
        align-items: center;
    }
    h1 {
        font-size: 7rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 3.2rem;
    }
    .landing {
        max-width: 55%;
        background-image: url("../images/background-singup.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
    }
    .landing span:first-child {
        font-weight: 600;
    }
    button {
        font-size: 1.2rem;
    }
    .product img{
        max-width: 50rem;
    }
    .general-text {
        font-size: 1.5rem;
        padding: 1rem 10rem 1rem 10rem;
        line-height: 1.4;
    }
    .connectedness {
        background-image: url("../images/connectedness.png");
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 55em;
        height: 33rem;
    }
    .connectedness img {
        display: none
    }
    .block2 {
        align-self: flex-end;
        width: 100vw;
        background-image: url("../images/flexibility.png");
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        height: 33rem;
    }
    .block2 img {
        display: none;
    }
    .tools-img {
        background-image: url("../images/speed.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 33rem;
    }
    .tools-img img {
        display: none;
    }
        
    .welcome {
        text-align: center;
        background-color: var(--purple);
        color: white;
        padding: 1.2rem 7rem;
    }
    .menu {
        display: none;
    }
    .menu-buttons img{
        height: 2rem;
    }
    img {
        max-width: 55em;
    }
    .companies {
        font-size: 1.5em;
        font-weight: 600;
    }
    .logos {
        padding-top: 2rem;
        align-content: flex-start;
        height: 9rem;
    }
    .logos img{
        max-height: 3rem;
    }
    .teams {
        text-align: center;
        font-size: 1.4rem;
        padding: 1rem 3rem;
    }
    .teams h3 {
        font-size: 2.5rem;
    }
    .teams .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 5rem;
        gap: 2.4rem;
    }
    .teams button {
        padding: 10px 40px;
    }
    .metrics {
        display: flex;
        gap: 5rem;
        padding: 2rem 1.2rem;
        font-size: 1.4rem;
        font-weight: 700;
        text-align: left;
    }
    .metrics p {
        margin: 0 auto;
        line-height: 1.2;
    }
    footer {
        padding: 3rem 2rem;
    }
    .nav-links {
        line-height: 3;
        font-size: 1.1rem;
    }
    .status {
        display: flex;
        justify-content: space-between;
        margin: 3rem 0.5rem;
        font-size: 1.1rem;
        font-weight: 600;
    }
    .socials{
        display: flex;
        justify-content: space-between;
        max-width: 50%;
        font-size: 1.8rem;
        margin: 3rem 0;
    }
    small {
        font-size: 1rem;
    }

}

@media (min-width: 1025px) and (max-width: 1440px){
    body {
        max-width: 1440px;
    }
}

@media (min-width: 1441px){

}